<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Criar Movimentação de Produto</title>
</head>
<body>
    <h1>Criar Movimentação de Produto</h1>
    <form method="post">
        {% csrf_token %}
        <label for="detalhe_produto">Detalhe do Produto:</label>
        <select name="detalhe_produto" id="detalhe_produto">
            {% for detalhe_produto in detalhes_produto %}
            <option value="{{ detalhe_produto.id }}">{{ detalhe_produto.produto.nome_produto }} - {{ detalhe_produto.subsetor.nome_sub_setor }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="quantidade_movimentada">Quantidade Movimentada:</label>
        <input type="number" id="quantidade_movimentada" name="quantidade_movimentada" required>
        <br>
        <label for="subsector_origem">Subsetor de Origem:</label>
        <select name="subsector_origem" id="subsector_origem">
            {% for subsector in subsetores %}
            <option value="{{ subsector.id }}">{{ subsector.nome_sub_setor }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="subsector_destino">Subsetor de Destino:</label>
        <select name="subsector_destino" id="subsector_destino">
            {% for subsector in subsetores %}
            <option value="{{ subsector.id }}">{{ subsector.nome_sub_setor }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="transacao">Tipo de Transação:</label>
        <select name="transacao" id="transacao">
            {% for tipo in tipos_transacao %}
            <option value="{{ tipo }}">{{ tipo }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Salvar Movimentação</button>
    </form>
</body>
</html>
