<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Produto ao Estoque</title>
</head>
<body>
    <div class="form-container">
        <h2>Adicionar Produto ao Estoque</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Adicionar Produto</button>
        </form>
    </div>
    <div class="produtos-disponiveis">
        <h2>Produtos Disponíveis no Subsetor</h2>
        <ul>
            {% for produto in produtos_disponiveis %}
                <li>{{ produto.produto.nome_produto }} - {{ produto.quantidade_produto }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
