<!DOCTYPE html>
<html>
<head>
    <title>Lista de Movimentações</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Lista de Movimentações</h1>
    <table>
        <tr>
            <th>Data e Hora</th>
            <th>Subsetor de Origem</th>
            <th>Subsetor de Destino</th>
            <th>Produto</th>
            <th>Quantidade Movimentada</th>
            <th>Tipo de Transação</th>
        </tr>
        {% for movimentacao in object_list %}
            <tr>
                <td>{{ movimentacao.data_hora_movimentacao }}</td>
                <td>{{ movimentacao.subsector_origem }}</td>
                <td>{{ movimentacao.subsector_destino }}</td>
                <td>{{ movimentacao.detalhe_produto.produto.nome_produto }}</td>
                <td>{{ movimentacao.quantidade_movimentada }}</td>
                <td>{{ movimentacao.transacao }}</td>
            </tr>
        {% endfor %}
    </table>
  
    <br> <br>
    <a href="{% url 'home' %}">Voltar</a>
</body>
</html>
