    <!DOCTYPE html>
    <html>
    <head>
        <title>Adicionar Produto</title>
    </head>
    <body>
        <h1>Adicionar Produto</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <fieldset>
                <legend>Detalhes do Produto</legend>
                {{ detalhe_form.as_p }}
            </fieldset>
            <button type="submit">Salvar</button>
        </form>
        <a href="{% url 'home' %}">Voltar</a>
    </body>
    </html>
